* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Didact Gothic";
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: aliceblue;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s
}

.navigation a:hover::after {
    transform: scaleX(1);
}



.wrap {
    position: absolute;
    margin-top: 100px;
    width: 100%;
}

.navigation .btnLogout {
    position: relative;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid aliceblue;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.1em;
    color: aliceblue;
    font-weight: 500;
    margin-left: 900px;
    transition: 0.8s;
}

.navigation .btnLogout:hover {
    background: aliceblue;
    color: darkblue;
}

body {
    /*add images*/
    position: relative;
    background: #EBE8E2;
}

.product-heading {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

nav {
    background-color: cornflowerblue;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    font-size: 1.7em;
    font-weight: 700;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: white;
}

/* CSS for the Home link */

nav li:first-child a {
    border-radius: 5px 0 0 5px;
}

nav li:first-child a:hover {
    background-color: skyblue;
}

table {
    margin: 0 auto;
    /* Center the table horizontally */
    border-collapse: collapse;
    width: 80%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container p {
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
}


.container .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-right: 20px;
    padding: 10px;
}

.container .search .query {
    width: 100%;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: cornflowerblue;
    border-radius: 15px;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 100px;
    right: 300px;
    width: 130px;
}

.sell-form {
    display: none;
    justify-content: ;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

button[type="submit"] {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
    align-self: stretch;
}

button[type="submit"]:hover {
    background-color: darkblue;
}